<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cover-elem Testing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="../../node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<style>
    .dragIn{
        background-color: hotpink;
        opacity: .5;
    }
</style>

<body>
    <h2>
        I am Test bed
    </h2>
    <cover-elem>
        
    </cover-elem>
    <cover-elem>
        </cover-elem>
    <hr>
    <div class="container" dragdropzone>
            <cover-elem>
                </cover-elem><cover-elem>
                    </cover-elem>
        <div class="row">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border ">Create Option Set by Drag & Drop </legend>
                        <sortable-wc id="Left" style="min-height: 200px;height: 300px; ">
                            <chipl class="list-group-item" role="alert">bar 1</chipl>
                            <chipl class="list-group-item" role="alert">bar 2</chipl>
                            <chipl class="list-group-item" role="alert">bar 3</chipl>
                            <!-- <basiccomp-wc>ABCD</basiccomp-wc>
                                        <basiccomp-wc/></basiccomp-wc>
                                        <basiccomp-wc></basiccomp-wc>
                                        <basiccomp-wc></basiccomp-wc> -->
                        </sortable-wc>
                    </fieldset>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <fieldset class="scheduler-border" id='container'>
                        <legend class="scheduler-border">Input Types</legend>
                        <sortable-wc id="Right">
                            <chipl class="list-group-item" role="alert" id='tao'>foo 1</chipl>
                            <chipl class="list-group-item" role="alert">foo 2</chipl>
                            <chipl class="list-group-item" role="alert">foo 3</chipl>
                            <basiccomp-wc class="list-group-item" mode='config' data-id="meo">
                            </basiccomp-wc>
                            <basiccomp-wc class="list-group-item" />
                            </basiccomp-wc>
                            <basiccomp-wc class="list-group-item" />
                            </basiccomp-wc>
                            <basiccomp-wc class="list-group-item" />
                            </basiccomp-wc>
                        </sortable-wc>
                    </fieldset>
                </div>

                <!--  -->



            </div>
            <!--  
                        
                    -->
            <div class="row">

                <div ctr-action class="popper col-xs-4 col-sm-4 col-md-4 col-lg-4" style="display: none;z-index: 3000;"
                    id='popper'>
                    <div class="card">

                        <!-- Card image -->
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                            alt="Card image cap">

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title"><a>Card title</a></h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

            </div>


        </div>
    </div>

    <pop-cover title="Chipl" wcname="something display = true" noclick>
        <basiccomp-wc slot="handler"></basiccomp-wc>
    </pop-cover>

    <script type="module" src="./coverElement/coverElement.js"></script>
    <script type="module" src="./elementEditor/elementEditor.js"></script>
    <script type="module" src="./popperCover/popperCover.js"></script>
    <script type="module" src="../Components/BasicComponentWC/BasicComponentWC/BasicComponentWC.js"></script>
    <script>
        // let undefinedElements = document.querySelectorAll(':not(:defined)');        

        let promises = ['pop-cover', 'basiccomp-wc', "element-editor", "cover-elem"].map(ele => {
            return customElements.whenDefined(ele).then(() => {
                console.log(ele, 'is defined')
            })
        });


        Promise.all(promises).then(data => {
            // console.log(data, promises);
            elementEditor = document.body.querySelector('cover-elem').addEventListener('coverAdding', (
                el) => {
                console.log("I am here");
            });

        });
    </script>
</body>

</html>