<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cover-elem Testing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="../../node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<style>
    .chosen {
    color: #baf;
    background-color: #007bff;
}
</style>
<script type="module" src="./coverElement/coverElement.js"></script>

<body>
    <script>
        var coverElement = document.createElement('cover-elem');

        //
        document.body.appendChild(coverElement);
        customElements.whenDefined('cover-elem').then(() => {

        });
    </script>
    <h2 allow-edit chipl>
        I am Test bed
    </h2>
    <chipl allow-edit>
        <cover-elem></cover-elem>
        <cover-elem></cover-elem>
        <cover-elem></cover-elem>
    </chipl>


    <div class="container row " allow-edit>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" allow-edit>
            ABCD
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" allow-edit>
            DEFG
        </div>

    </div>

    <script>
        function getElIndex(el) {
            for (var i = 0; el = el.previousElementSibling; i++);
            return i;
        }

        let item = document.querySelector('[chipl]');
        console.log('check item', getElIndex(item));
        let con = document.querySelector('cover-elem');
        console.log('control', getElIndex(con));
    </script>

</body>

</html>