<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cover-elem Testing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="/node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> -->
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>
<style>
    .dragIn {
        background-color: #978af8;
        opacity: .5;
        transition: background-color .8s, opacity 0.5s linear;
    }

    .dragParent {
        transition: all 0.8s ease 0s; border: 1px solid rgb(114, 127, 150); box-shadow: rgba(95, 122, 169, 0.5) 0px 0px 25px 5px; z-index: 900;
    }
</style>

<body dragdropzone>
    <h2>
        I am Test bed
    </h2>
    <cover-elem noclick>

    </cover-elem>

    <hr>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border ">Create Option Set by Drag & Drop </legend>
                <div id="Left" style="min-height: 200px;height: 300px; ">
                    <chipl class="list-group-item" role="alert">bar 1</chipl>
                    <chipl class="list-group-item" role="alert">bar 2</chipl>
                    <chipl class="list-group-item" role="alert">bar 3</chipl>
                    <!-- <basiccomp-wc>ABCD</basiccomp-wc>
                                        <basiccomp-wc/></basiccomp-wc>
                                        <basiccomp-wc></basiccomp-wc>
                                        <basiccomp-wc></basiccomp-wc> -->
                </div>
            </fieldset>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <fieldset class="scheduler-border" id='container'>
                <legend class="scheduler-border">Input Types</legend>
                <div id="Right">
                    <chipl class="list-group-item" role="alert" id='tao'>foo 1</chipl>
                    <chipl class="list-group-item" role="alert">foo 2</chipl>
                    <chipl class="list-group-item" role="alert">foo 3</chipl>
                    <basiccomp-wc class="list-group-item" mode='config' data-id="meo">
                    </basiccomp-wc>
                    <basiccomp-wc class="list-group-item" />
                    </basiccomp-wc>
                    <basiccomp-wc class="list-group-item" />
                    </basiccomp-wc>
                    <basiccomp-wc class="list-group-item" />
                    </basiccomp-wc>
                    <basiccomp-wc class="list-group-item" />
                    </basiccomp-wc>
                    <basiccomp-wc class="list-group-item" />
                    </basiccomp-wc>
                    <basiccomp-wc class="list-group-item" />
                    </basiccomp-wc>
                </div>
            </fieldset>
        </div>

    </div>
    <!--  -->
    <!--  -->

    <pop-cover title="Chipl" noclick>
    </pop-cover>



    <script type="module" src="./coverElement/coverElement.js"></script>
    <!-- <script type="module" src="./popperCover/popperCover.js"></script> -->
    <script type="module" src="/Components/popCover/pop-cover.js"></script>
    <script type="module" src="./popCover/popCover.js"></script>

    <script type="module" src="/Components/BasicComponentWC/BasicComponentWC/BasicComponentWC.js"></script>
    <script type="module" src="/Components/bsToolbox/bsToolbox.js"></script>
    <script>
        // let undefinedElements = document.querySelectorAll(':not(:defined)');        

        // let promises = ['pop-cover', 'basiccomp-wc', "element-editor", "cover-elem"].map(ele => {
        let promises = ['pop-cover', "cover-elem", "bs-toolbox"].map(ele => {
            return customElements.whenDefined(ele).then(() => {
                console.log(ele, 'is defined')
            })
        });


        Promise.all(promises).then(() => {
            console.log("Ready");

            let elementEditor = document.body.querySelector('cover-elem');
            let popCover = document.body.querySelector('pop-cover');
            // let toolbox = document.importNode(document.getElementById('temp').content, true);            
            // let toolbox = document.body.appendChild(document.getElementById('temp').content.cloneNode(true));
            // document.body.appendChild(toolbox);
            let toolbox = document.createElement("bs-toolbox");
            toolbox.addEventListener("_close", () => {
                popCover.close();
            })
            // elementEditor.displayAdd ="no";

            elementEditor.addEventListener('_add', el => {
                // console.log("I am here", el.detail.sourceElem);
                popCover.updateElements(el.detail.sourceElem, toolbox);
                toolbox.targetElement = elementEditor.targetElem;
                popCover.toggle();
            });

            elementEditor.addEventListener("_update", el => {
                // Should update here
                popCover.close();
            })

            popCover.addEventListener('_update', e => {
                // console.log("popCover update", e);
            });

            toolbox.addEventListener("_updateTarget", (even)=>{
                // elementEditor.updateTargetElem(elementEditor.targetElem);
                elementEditor.reupdate();
                // popCover.close();
            });
            // console.log('elementEditor', elementEditor);

        });
    </script>
</body>

</html>