<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>input-radio Testing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
</head>

<body>
    <h2>
        I am Test bed
    </h2>
    <input-checkbox></input-checkbox>
    <hr>
    <input-checkbox></input-checkbox>
    <hr>
    <input-checkbox></input-checkbox>
    <hr>
    <pop-cover visible='false'>
        <!-- <input-text mode = "config" noclick ></input-text> -->
    </pop-cover>


    <script type="module" src="/Components/inputCheckbox/inputCheckbox.js"></script>
    <script type="module" src="/Components/inputTags/inputTags.js"></script>
    <script type="module" src="./popCover/popCover.js"></script>

    <script type="module">

        let promises = ['pop-cover', 'input-checkbox', 'input-tag'].map(ele => {
            return customElements.whenDefined(ele).then(() => {
                console.log(ele, 'is defined')
            })
        });

        Promise.all(promises).then(() => {
            console.log("Ready");
            let popCover = document.querySelector('pop-cover');
            let inputCheckboxes = document.querySelectorAll('input-checkbox:not([noclick])');
            // 

            inputCheckboxes.forEach((elem) => {
                elem.addEventListener('_click', (event) => {
                                     
                    if (! elem.attPanel){
                        console.log  ('elem.attPanel:', elem.attPanel);
                        let attPanel = elem.cloneNode(false);
                    // let attPanel =document.createElement('input-radio');                    
                        attPanel.setAttribute('mode', 'config');
                        attPanel.setAttribute('noclick', null);
                        attPanel.addEventListener('_close', (evt) => {
                            // console.log('_close', evt.target);
                            popCover.close();
                        });
                        elem.attPanel = attPanel;
                        while (popCover.firstChild) {
                            popCover.removeChild(popCover.firstChild);
                        }
                    }
                    console.log("I am here", !popCover.visible);   
                    popCover.updateElements(elem, elem.attPanel);
                    
                    
                    console.log('event', event);

                    // console.log("attPanel", popCover.firstElementChild)
                    popCover.toggle();
                });
                document.addEventListener("_click", ()=>{
                    console.log("=============================== so crazy");
                })

            })
            // 
            // let _inputTexts = document.querySelectorAll('input-text[noclick]');
            // console.log('_inputTexts', _inputTexts);
            // _inputTexts.forEach(elem => {
            //     elem.addEventListener('_close', (evt) => {
            //         console.log('_close', evt.target);
            //         popCover.close();
            //     })
            // });

        })
    </script>
</body>

</html>