<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>input-date Testing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
    <h2>
        I am Test bed
    </h2>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <input-date>
            </input-date>
            <input-date>
            </input-date>
            <input-date>
            </input-date>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </div>
    </div>
<!-- 
    <input-date>
    </input-date>
    <input-date>
    </input-date>
    <input-date>
    </input-date> -->

    <pop-cover visible='false'>
        <!-- <input-text mode = "config" noclick ></input-text> -->
    </pop-cover>

    <script type="module" src="./inputDate/inputDate.js"></script>
    <script type="module" src="./popCover/popCover.js"></script>
    <script>
        let promises = ['pop-cover', 'input-date'].map(ele => {
            return customElements.whenDefined(ele).then(() => {
                console.log(ele, 'is defined')
            })
        });

        Promise.all(promises).then(() => {
            console.log("Ready");
            let popCover = document.querySelector('pop-cover');
            let inputDates = document.querySelectorAll('input-date:not([noclick])');
            // 
            inputDates.forEach((elem) => {
                elem.addEventListener('_click', (event) => {
                    console.log("I am here", popCover.visible);
                    let attPanel = elem.cloneNode(false);
                    attPanel.setAttribute('mode', 'config');
                    attPanel.setAttribute('noclick', null);
                    attPanel.addEventListener('_close', (evt) => {
                        console.log('_close', evt.target);
                        popCover.close();
                    });
                    elem.attPanel = attPanel;
                    while (popCover.firstChild) {
                        popCover.removeChild(popCover.firstChild);
                    }
                    popCover.appendChild(attPanel);
                    popCover.updateElements(elem, attPanel);

                    console.log("attPanel", popCover.firstElementChild)
                    popCover.toggle();
                });

            })
            // 
            // let _inputTexts = document.querySelectorAll('input-text[noclick]');
            // console.log('_inputTexts', _inputTexts);
            // _inputTexts.forEach(elem => {
            //     elem.addEventListener('_close', (evt) => {
            //         console.log('_close', evt.target);
            //         popCover.close();
            //     })
            // });

        })
    </script>
</body>

</html>