<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link href="../../node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


    <div class="container">
        <ul class="list-group">
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/inputText_TestBed.html">1.Input Test</a></li>
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/inputNumber_TestBed.html">2.Number Test</a></li>
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/inputDate_TestBed.html">3.Date Test</a></li>
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/inputTime_TestBed.html">4.Time Test</a></li>
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/inputRange_TestBed.html">5.Range Test</a></li>
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/inputSwitch_TestBed">6.Switch Test</a></li>
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/coverElement_TestBed.html">7.Cover Element</a></li>
            <li class = 'list-group-item'><a href="http://localhost:3000/Components/inputTags_TestBed">8.Input Tags Element</a></li>

        </ul>

    </div>

</body>

</html>