<h2>
    I am Footer
</h2>
<express-footer data-content = <%- encodeURIComponent(JSON.stringify(footerData))%>></express-footer> 
    
</express-footer>
<script type="module" src="/Footer/Footer.js"></script>

