<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="/node_modules/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
    <h1 class="text-center">Hello World</h1>

        <div class="row">
            <!--Panel-->
            <div class="card text-center"">
                <div class=" card-header success-color white-text">
                Featured
            </div>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-success btn-sm">Go somewhere</a>
            </div>
            <div class="card-footer text-muted success-color white-text">
                <p class="mb-0">2 days ago</p>
            </div>
        </div>
    <!--/.Panel-->
    </div>



    <template id = "main">
        <div class="row">
            <!--Panel-->
            <div class="card text-center"">
                <div class=" card-header success-color white-text">
                Featured
            </div>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-success btn-sm">Go somewhere</a>
            </div>
            <div class="card-footer text-muted success-color white-text">
                <p class="mb-0">2 days ago</p>
            </div>
        </div>
    </template>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>